<%- layout('/layouts/boilerplate') -%>
<div class="row">
  <h1 class="text-center">Edit Campground <%= campground.title %></h1>
  <div class="col-md-8 offset-md-2">
    <form
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          value="<%= campground.title %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          value="<%= campground.location %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            name="campground[price]"
            aria-label="Amount (to the nearest dollar)"
            value="<%= campground.price %>"
            required
          />
          <span class="input-group-text">.00</span>
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          rows="5"
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
          required
        >
<%=campground.description%></textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="">
        <label class="form-label" for="description"
          >Add more images (Max. file size 2MB)</label
        >
        <div class="input-group mb-3">
          <input
            type="file"
            class="form-control"
            id="images"
            name="images"
            multiple
            accept="image/png, image/jpeg, image/jpg"
          />
          <label class="input-group-text" for="images" name="images"
            >Upload</label
          >
        </div>
      </div>
      <div class="mb-3">
        <% campground.images.forEach((img,i)=>{ %>
        <div class="d-inline-block m-2">
          <div class="d-block">
            <label for="image-<%= i %>">Delete?</label>
            <div class="form-check-inline">
              <input
                type="checkbox"
                id="image-<%= i %>"
                name="deleteImages[]"
                value="<%= img.filename %>"
              />
            </div>
          </div>
          <img src="<%= img.thumbnail %>" alt="" class="img-thumbnail" />
        </div>
        <% }) %>
      </div>
      <div class="row mt-5">
        <div class="col-md-6 mb-3 mb-md-0">
          <a
            class="btn btn-secondary btn-sm-block"
            href="/campgrounds/<%= campground._id  %> "
          >
            <i class="fas fa-chevron-left"></i> Back To Campground</a
          >
        </div>
        <div class="col-md-6 text-right">
          <button class="btn btn-primary">Update Campground</button>
        </div>
      </div>
    </form>
  </div>
</div>
