<%- layout('/layouts/boilerplate') -%>
<div class="row">
  <div class="col-md-7">
    <h1 class="text-center">Campground <%= campground.title %></h1>
    <img
      class="img-fluid"
      src="<%= campground.image  %> "
      alt="<%= campground.title %>"
      style="max-height: 400px"
    />
    <h3>Location: <%= campground.location %></h3>
    <p>Submitted by: <%= campground.author.username %></p>
    <p>Price: $<%= campground.price %>/night</p>
    <p>Description: <%= campground.description %></p>

    <% if(currentUser && campground.author.equals(currentUser._id)) { %>
    <div class="my-4">
      <a
        class="btn btn-primary me-4"
        href="/campgrounds/<%= campground._id %>/edit"
        >Edit Campground</a
      >
      <form
        class="d-inline"
        action="/campgrounds/<%= campground._id %>?_method=DELETE"
        method="POST"
      >
        <button class="btn btn-danger">Delete Campground</button>
      </form>
    </div>
    <% } %>
  </div>
  <div class="col-md-5">
    <% if(currentUser){ %>
    <h2>Leave A Review</h2>
    <form
      action="/campgrounds/<%= campground._id %>/reviews"
      method="POST"
      novalidate
      class="validated-form mb-3"
    >
      <div class="mb-3">
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          name="review[rating]"
          id="rating"
          class="form-range"
          step="1"
          min="1"
          max="5"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Review</label>
        <textarea
          class="form-control"
          name="review[body]"
          id="body"
          cols="30"
          rows="4"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button class="btn btn-success">Submit Reivew</button>
    </form>
    <% } %> <% for(let review of campground.reviews) { %>
    <div class="mb-3">
      <div class="card mb-2">
        <div class="card-body p-1">
          <h5 class="card-title">Rating: <%= review.rating %></h5>
          <h6 class="card-subtitle">by <%= review.author.username %></h6>
          <p class="card-text">Comment: <%= review.body %></p>
          <% if(currentUser && review.author._id.equals(currentUser._id)) { %>
          <form
            action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-sm btn-danger">Delete Review</button>
          </form>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
