<%- layout('/layouts/boilerplate') -%>
<link rel="stylesheet" href="/css/starability-basic.css" />

<script type="text/javascript">
  const mapboxToken = '<%- process.env.MAPBOX_TOKEN %>';
  const campground = <%- JSON.stringify(campground) %>;
</script>

<div class="row">
  <div class="col-md-7">
    <h1 class="text-center">Campground <%= campground.title %></h1>
    <% if(!campground.images.length) { %>
    <img
      src="/images/placeholder_view_vector.svg"
      alt=""
      class="img-fluid mb-3 camp-image-show"
    />
    <% } %>
    <!-- Bootstrap Carousel -->
    <div
      id="campgroundCarousel"
      class="carousel slide mb-3"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <% campground.images.forEach((img,index) => { %>
        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
          <img class="d-block camp-image-show" src="<%= img.url %>" alt="" />
        </div>
        <% }) %>
      </div>
      <% if(campground.images.length > 1) { %>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#campgroundCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#campgroundCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <% } %>
    </div>
    <!-- End Bootstrap Carousel -->
    <h3>Location: <%= campground.location %></h3>
    <p>Submitted by: <%= campground.author.username %></p>
    <p>Price: $<%= campground.price %>/night</p>
    <p>Description: <%= campground.description %></p>

    <% if(currentUser && campground.author.equals(currentUser._id)) { %>
    <div class="row">
      <div class="mt-3 text-center">
        <div class="col-sm-12 col-md-6 mb-4">
          <a
            class="btn btn-primary"
            href="/campgrounds/<%= campground._id %>/edit"
            >Edit Campground</a
          >
        </div>
        <div class="col-sm-12 col-md-6 mb-4">
          <form
            class="d-inline"
            action="/campgrounds/<%= campground._id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger">Delete Campground</button>
          </form>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <div class="col-md-5">
    <!-- Mapbox map -->
    <div id="map" class="mb-3"></div>
    <h2>Leave A Review</h2>
    <form
      action="/campgrounds/<%= campground._id %>/reviews"
      method="POST"
      novalidate
      class="validated-form mb-3"
    >
      <div class="mb-3">
        <!-- <label for="no-rate" class="form-label">Rating</label> -->
        <fieldset class="starability-basic">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="review[rating]"
            value="1"
            checked
            aria-label="No rating."
          />
          <input
            type="radio"
            id="first-rate1"
            name="review[rating]"
            value="1"
          />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="review[rating]"
            value="2"
          />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="review[rating]"
            value="3"
          />
          <label for="first-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="review[rating]"
            value="4"
          />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="review[rating]"
            value="5"
          />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Review</label>
        <textarea
          class="form-control"
          name="review[body]"
          id="body"
          cols="30"
          rows="4"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <% if(currentUser){ %>
      <button class="btn btn-success">Submit Reivew</button>
      <% } else { %>
      <button class="btn btn-success" disabled>Submit Reivew</button>
      <% } %>
    </form>
    <% for(let review of campground.reviews) { %>
    <div class="mb-3">
      <div class="card mb-2">
        <div class="card-body p-1">
          <h5 class="card-title"><%= review.author.username %></h5>
          <p class="starability-result" data-rating="<%= review.rating %>">
            Rated: <%= review.rating %> stars
          </p>
          <p class="card-text">Review: <%= review.body %></p>
          <% if(currentUser && review.author._id.equals(currentUser._id)) { %>
          <form
            action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-sm btn-danger">Delete Review</button>
          </form>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>

<!-- Mapbox -->
<script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
<script src="/js/showPageMap.js" type="text/javascript"></script>
