<%- layout('/layouts/boilerplate') -%>
<div class="row">
  <div class="col-md-6">
    <h1>Campground <%= campground.title %></h1>
    <h2>Location: <%= campground.location %></h2>
    <p>Price: $<%= campground.price %></p>
    <p>Description: <%= campground.description %></p>

    <div class="text-center mt-5">
      <a
        class="btn btn-primary mb-3"
        href="/campgrounds/<%= campground._id %>/edit"
        >Edit Campground</a
      >

      <form
        action="/campgrounds/<%= campground._id %>?_method=DELETE"
        method="POST"
      >
        <button class="btn btn-danger">Delete Campground</button>
      </form>
    </div>
  </div>
  <div class="col-md-6">
    <img
      class="img-fluid"
      src="<%= campground.image  %> "
      alt="<%= campground.title %>"
    />
  </div>
</div>
